# URL del Microservicio de Persistencia
# En local: http://localhost:3002
# En producción: URL de tu Web Service en Render
PERSISTENCE_URL=http://localhost:3002

# URL del Frontend (usada para configurar CORS)
# En local: http://localhost:3005
# En producción: URL de tu proyecto en Vercel
FRONTEND_URL=http://localhost:3005
